# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Mirlanda\Desktop\BACKUP mIRLANDA\DOCUMENTOS\CURSOS\curso_udemy_selenium_webdriver_BDD\projects_\my_own_projects\ph_travel_site\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
